@import 'Config.scss';

.page {
    padding: 0 25px;
    &__container {
        background-color: #fff;
        padding: 25px 25px;
    }
}

.page-heading {
    padding: 50px 0;
    background-size: cover;
    border-bottom: none;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(/top-banner.png);
    background-position: bottom;

    .page-title {

        h1, h2 {
            color:black;
            font-family: $font-stack;
            font-size: 46px;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 0px;
            padding: 0px 25px;
            margin: 0px;
            display: inline-block;
            margin-top: 5px;
        }
    }
}