.mini-cart{
    .basket {

    }
    .fl-mini-cart-content {
        background: #ffffff;
        background-repeat: repeat;
        background-position: 0 0;
        padding: 0px;
        margin: 0;
        overflow: hidden;
        font-size: 12px;
        line-height: 25px;
        z-index: 1000;
        border-top: 0;
        display: none;
        position: absolute;
        right: 0px;
        margin-top: 0px;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease-in-out 0s;
        -webkit-transform: scale(1.0) rotate(0deg);
        transform: scale(1.0) rotate(0deg);
        box-shadow: 0 10px 20px -5px;


        .block-subtitle {
            color: #121212;
            overflow: hidden;
            padding: 0px 5px;
            text-align: left;
            background: #fff;
            border-bottom: 1px #e5e5e5 solid;

            .top-subtotal {
                color: #121212;
                font-size: 18px;
                font-weight: 500;
                padding: 12px 12px;
                text-align: left;
                font-family: 'Saira Condensed', sans-serif;
            }
        }

        .mini-products-list {
            padding: 10px 15px 0px;

            li.item {
                width: 310px;
                margin: 5px 0px 10px;
                border-bottom: 1px #eee solid;
                display: inline-block;
                padding-bottom: 13px;

                .product-image {
                    float: left;
                    padding: 0;
                    width: 60px;
                }

                .product-details {
                    margin-left: 80px;
                    padding: 0;

                    .product-name {
                        margin: 0;
                        width: 150px;
                        line-height: 19px;

                        a {
                            font-size: 16px;
                            line-height: 19px;
                            font-weight: normal;
                        }
                    }
                    .price {
                        color: #ed6663;
                        width: auto;
                        float: none;
                        font-weight: 400;
                        padding-left: 0px;
                        font-size: 16px;
                    }
                    .qty {
                        padding: 0 5px !important;
                        color: #121212;
                    }
                }
            }
        }

        .actions {
            padding: 5px 20px 20px 20px;
            margin: 0px 0 0;
            overflow: hidden;

            .btn-checkout {
                padding: 12px 0px 9px 0px;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 400;
                // color: #121212;
                letter-spacing: 1px!important;
                display: block;
                border: none;
                border-radius: 0px;
                width: 100%;
                font-family: 'Saira Condensed', sans-serif;
            }
        }
    } //end fl-mini-cart-content
}