.product-card {
    .place-bid-wrap {
        overflow: hidden;
        .auto-bid {
            flex: 0 0 100%;
            max-width: 100%;
            float: left;
            margin-top: 5px;
            margin-left: 18px;
        }
        button {
            font-size: 14px;
        }
    }
    .add-to-cart-wrap {
        margin-top: 15px;
    }
}

.clock-container {
    text-align: center;
    .clock {
        font-size: 20px;
        font-weight: 500;
        margin: 0 auto;
        text-align: center;

        div {
            color: gray;
            border: 1px solid grey;
            display: inline-block;
            margin: 0 1px;
            padding: 10px 0px;
            text-align: center;
            border-radius:5px;
            position: relative;
            width: 39px;
            span {
                display: block;
            }
            .tag {
               font-size: 9px;
               padding: 0;
               margin: 0;
               position: absolute;
               top: 24px;
               left: 6px;
            }
        }
    }
}
.btn-bid {
    &:after {
        content: "Place a Bid";
    }
    &.not-loggedin:hover:after {
        content: "Login";
    }
}
.btn-addtocart {
    &:after {
        content: "Add to Cart";
    }
    &.not-loggedin {
        &:hover {
            &:after {
                content: "Login";
            }
        }
    }
}