
.order-details-container {
    .order-status {
        border: 2px solid #ccc;
        border-radius: 3px;
        display: inline-block;
        text-transform: uppercase;
        vertical-align: top;
        margin-top: 6px;
        padding: 5px 18px;
        font-size: 16px;
    }

    .table {
        margin: 30px 0;
    }

    .order-items-table {
        thead {
            th {
                border-bottom: 1px solid #ccc;
            }
        }
        tfoot {
            background-color: #f5f5f5;
        }
    }
}