.main-cart-container {
    .main-cart-table {
        tbody {
            tr.error-item {
                background-color: #f8d7da !important;
            }
            td {
                vertical-align: middle;
                .qty {
                    float: right;
                    .form-control {
                        height: 36px;
                        text-align: center;
                        width: 55px;
                    }
                }
                .remove-item {
                    background-color: #fff;
                    background-image: none;
                    color: #333;
                    cursor: pointer;
                    padding: 6px 10px;
                    border-radius: 0px;
                    cursor: pointer;
                    text-decoration: none;
                    float: left;
                    transition: all 0.3s linear;
                    -moz-transition: all 0.3s linear;
                    -webkit-transition: all 0.3s linear;
                    border: 1px #ddd solid;

                    &:hover {
                        background-color: #ed6663;
                        color: #fff;
                        border: 1px #ed6663 solid;
                    }
                }
            }
        }
        tfoot {
            .controls-row {
                td {
                    border: none;
                }
            }
        }
    }
}

.checkout-success {
    font-size: 16px;
    line-height: 30px;;
    .btn {
        color: #FFF;
        font-weight: bold;

        &:hover {
            color: #FFF;
        }
    }
}