@import 'Config.scss';

.sidebar {
    .section-filter {
        position: relative;
        width: 100%;
        margin-top: 0px;
        border-width: 1px;
        border-style: solid;
        border-color: #f5f5f5 #eee #d5d5d5 #eee;
        box-shadow: 0 5px 0 rgba(200,200,200,.2);
        margin-bottom: 30px;
        padding: 25px;
    }

   .section-filter {
        background-color: #fff;
        h2 {
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 0px;
            padding: 20px 15px 20px 15px;
            position: relative;
            display: inline-block;
            font-family: $font-stack;
            letter-spacing: 1px;
            text-transform: uppercase;
            background: #ed6663;
            margin-top: 0px;
            min-width: 97%;
            margin: -25px 0 0 -25px;
            margin-bottom: 25px;
            vertical-align: top;

            &::after {
                content: '';
                position: absolute;
                width: 60px;
                height: 100%;
                transform: skew(-35deg);
                right: -35px;
                top: 0;
                background-color: inherit;
                z-index: 0;
            }
        }
    }

    label {
        display: block;
        font-weight: 600;
        font-size: 14px;
    }

    .form-check-input {
        position: relative;
        margin-top: 0.3rem;
        margin-left: 0;
        margin-right: 0.25rem;
    }
}