@import 'Config.scss';

header {
    width: 100%;
    position: relative;
    z-index: 1000;
    background: #fff;
    color:#fff;
    box-shadow: 0 6px 9px 0 rgba(36,39,44,.2);
}

.header {
    .header-banner {
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 40px;
            content: '';
            background-color: #e05c0b;
        }
        overflow: hidden;
        font-family: 'Saira Condensed', sans-serif;
        background: #23292e;
        height: 40px;

        .call-us {
            color: #fff;
            text-align: right;
            font-size: 17px;
            font-weight: 400;
            padding: 9px 5px;
            letter-spacing: 0.5px;
        }
        .offers {
            color: #fff;
            text-align: center;
            font-size: 17px;
            font-weight: 400;
            padding: 9px 5px;
            letter-spacing: 0.5px;
        }
    }
}

#mainNavBar {
    position: relative;
}

.main-nav-container {
    display: flex;
    justify-content: space-between;
    overflow: visible;
}

.nav-bar {
    flex: 0 0 100%;
}

.header-logo {
    flex: 0 0 100%;
    position: relative;
}

.logo {
    cursor: pointer;
    text-align: left;
    display: block;
    position: relative;
}

.nav-link {
    font-family: $font-stack;
    font-size: 16px;
    text-transform: uppercase;
}

.mini-cart {
    .basket {
        a {
            color: #121212;
            font-size: 20px;;
            &:hover {
                color: #121212;
            }
            span {
                background: #ed6663;
                display: inline-block;
                color: #fff;
                width: 20px;
                border-radius: 20px;
                font-size: 11px;
                height: 20px;
                line-height: 19px;
                text-align: center;
                vertical-align: top;
                top: 8px;
                position: absolute;
                right: -1px;
                font-family: $font-stack;
                font-weight: 500;
            }
        }
    }
}