.default-image-wrap {
    text-align: center;

    .img-block {
        position: relative;
        display: inline-block;
        cursor: pointer;

        :hover + #overlay {
            display: block;
        }
        #overlay {
            display: none;
            width: 100%;
            height: 50%;
            position: absolute;
            top: 50%;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            // z-index: 20;

            &:hover {
                display: block;
                background-color: rgba(0, 0, 0, 0.8);
            }
            #text {
                position: absolute;
                top: 70%;
                left: 50%;
                font-size: 50px;
                color: #fff;
                font-weight: bold;
                transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                font-size: 16px;
                z-index: 20;

                span {
                    padding-left: 5px;
                }
            }
        }
    }
}