@import '~bootstrap/scss/bootstrap';

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500,600,700,800');

@import 'Config.scss';

.container {
    @media (min-width: 1350px) {
        max-width: 1320px;
    }
}

body {
    font-family: $font-stack;
    font-size: 13px;
    background: #f5f5f5;
    line-height: 1.6em;
}

label, input, select {
    font-family: $font-stack-2;
}

a {
    color: #333;
    text-decoration: none;
    &:focus {
        outline: none;
    }
    &:hover {
        color: #ed6663;
        text-decoration: none;
    }
}
input {
    border-radius: 0px !important;
}
.btn, .btn-sm {
    border-radius: 0px;
}
.cursor-pointer {
    cursor: pointer;
}
.no-right-padding {
    padding-right: 0 !important;
    margin-right: 0 !important;
}
.no-left-padding {
    padding-left: 0 !important;
    margin-left: 0 !important;
}
.show {
    display: block !important;
}

.notification-container {
    font-size: 18px;
    font-family: $font-stack-2;
}